<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta_description }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/css/app.min.css">
</head>
<body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
    <div class="page-wrapper" id="pageWrapper">
        {% include "_html/_base/_includes/_header.html" %}
        {% include "_html/_base/_includes/_baner.html" %}
        {% include "_html/_base/_includes/_welcome.html" %}
        {% include "_html/_base/_includes/_advantages.html" %}
        {% include "_html/_base/_includes/_steps.html" %}
        {% include "_html/_base/_includes/_discounts.html" %}
        
    
        {% block content %}{% endblock %}

    
    </div>


    <script src="assets/js/app.min.js"></script>
</body>
</html>