.discounts{
    position: relative;
    .container-fluid{
        overflow: hidden;
        position: relative;
        .im-test{
            position: absolute;
            bottom: 0;
            animation: slide 5s linear infinite alternate;
            
            img{
                width: 100%;


            }
          
        }
    }

    .cloud-discounts{
        position: absolute;
        top: 50px;
        right: 125px;
        animation: cloudRun 15s linear infinite alternate;
        
    }

        
        img{
            width: 350px;
            
    }

    .cloud-one{
        position: absolute;
        top: 50px;
        left: 180px;
        animation: cloudOne 15s linear infinite alternate-reverse;
        img{
            width: 80px;
            
            
        }
    }

    .rocket{
        position: absolute;
        top: 180px;
        left: 200px;
        
        
        img{
            width: 150px;
        }
    }
    .discounts-subtittle{
    
         font-size: 12px;
         color: #ffffff;
         padding-top: 56px;
         margin-bottom: 34px;
        font-family: "Poppins";
    
    }

    .discounts-tittle{
        font-size: 33px;
color: #ffffff;
font-weight: 500;
font-family: "Poppins";
text-align: center;
margin-bottom: 44px;
    }
    .discount-descr{
font-size: 20px;
line-height: 30px;
color: #ffffff;
font-weight: 500;
font-family: "Poppins";

margin-bottom: 83px;
    }
    .bg-discounts{
        background-color: #03a9f4;
        height: 600px;
        /*background-image: url(../../../assets/img/bg-cl.png);*/
        background-repeat: no-repeat;
        background-position: bottom;
        
        position: relative;
        
    }
    h2,h5,p{
        text-align: center;
    }}

    @keyframes cloudRun {
        0%{
            margin-left: 0;
        }
    
        100%{
            margin-right:  250px;
            
        }
        
    }


    @keyframes cloudOne {

        0%{
            margin-right: 0;
        }
    
        100%{
            margin-left:  250px;
        }
        
    }


    @keyframes slide {

        100%{
            transform: scale(1.5);
            
        }

    
        
        
    }
