<section class="advantages">
    <div class="container-fluid bg-advantages ">
    

            
    <div class="test-2">

        <img class="mes" src="../../../assets/img/message.png" alt="">
        <img class="mes-2" src="../../../assets/img/message-2.png" alt="">
        <img class="gal" src="../../../assets/img/galochka.png" alt="">
        <img class="gal-2" src="../../../assets/img/gal-2.png" alt="">
        <img class="gal-sm" src="../../../assets/img/gal-sm.png" alt="">
        <img class="rupor" src="../../../assets/img/rupor.png" alt="">
        <img class="laptop" src="../../../assets/img/laptop-2.png" alt="">
        <img class="lupa"   src="../../../assets/img/lupa-2.png" alt="">
        <img  class="lupa-2" src="../../../assets/img/lupa-2.png" alt="">
        <img class="note" src="../../../assets/img/notes.png" alt="">
        <img class="note-sm" src="../../../assets/img/notes-sm.png" alt="">
        <img class="pen-2" src="../../../assets/img/pen-2.png" alt="">
        <img class="pen-bott" src="../../../assets/img/pen-bot.png" alt="">

    </div>
        
        

        
        
        
        <div class="container">

    
        <div class="advantages-content">

        
        <div class="advantages-subtittle">
            <h5>02 Our advantages</h5>
        </div>
        <div class="advantages-tittle">
            <h2>Advantages of our writting servise</h2>
        </div>

        
            <div class="row">
                <div class="col-4">
                    <div class="cards ">
                        
                            <div class="card-circle">
                                <div class="card-img">
                                    <img src="../../../assets/img/kubok.png" alt="">
                                </div>
                            </div>
                                <div class="card-tittle">Proffesionall- qualified <br> writing experts</div>
                                <div class="card-descr">
                                    <p>
                                        But I&nbsp;must explain to&nbsp;you how all this mistaken idea of&nbsp;denouncing pleasure and praising pain was born
                                    </p>
                                </div>
                            
                        </div>
                    </div>
            

                <div class="col-4">
                    <div class="cards">
                        
                            <div class="card-circle">
                                <div class="card-img">
                                    <img src="../../../assets/img/zapusnuk.png" alt="">
                                </div>
                                </div>
                                <div class="card-tittle">Commitment to deliver papers by deadline</div>
                                <div class="card-descr">
                                    <p>
                                        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                                        
                                    </p>
                                </div>
                            
                        </div>
                    </div>
            

                <div class="col-4 ">
                    <div class="cards">
                        
                            <div class="card-circle">
                                <div class="card-img">
                                    <img src="../../../assets/img/comp.png" alt="">
                                </div>
                                </div>
                                <div class="card-tittle">Top-quality, at a great price - guaranteed</div>
                                <div class="card-descr">
                                    <p>
                                        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                                    </p>
                                </div>
                            
                        </div>
                </div>
                <div class="advantages-button">
                    <a href="" class="">Place om holer</a>

                </div>

                    

                    
                    
            
               

                
       










                

              </div>

        </div>
        
    </div>
    
</section>