<section class="baner">
    <div class="container-fluid bg-baner">
        <div class="container">
            <div class="row">
                <div class="col-8">

                    <div class="cloud-1 one-1"></div>
                    <div class="cloud-1 two-2"></div>
                    <div class="cloud-1 three-3"></div>

                    <div class="baner-content">
                        <div class="baner-tittle"><h1>BlueeEssaysite.net -</h1></div>
                        <div class="banner-subtittle"><h2>expert help for custom Written</h2></div>
                        <div class="lines">
                            <div class="line-1"></div>
                            <div class="line-2"></div>
                        </div>
                        <div class="baner-description"><p>On the other hand, we denounce with righteous indignation <br>and dislike men who are so beguiled and demoralized</p></div>
                        <div class="baner-btn"><a href="#">Place an Order</a></div>
                    </div>
            
                </div>
            




                <div class="col-4">
                    <div class="cloud one"></div>
                    <div class="cloud two"></div>
                    <div class="cloud three"></div>
                    <div class="img-girl">
                        <img src="../../../assets/img/img_girl9.png" alt="">
                    </div>
                </div>
                   <div class="row input-section container ">
                
                    <div class="col-2">
                        <p class="input-section-tittle">Type of paper</p>
                        <select name="" id="">
                            <option value="">Placeholder text</option>
                        </select>
                    
                    </div>
                    <div class="col-2">
                        <p class="input-section-tittle">Writter level</p>
                        <select name="" id="" aria-placeholder="text">
                            <option value="">High school</option>
                        </select>
                    
                    </div>
                    <div class="col-2">
                        <p class="input-section-tittle">Urgency</p>
                        <select name="" id="">
                            <option value="">21 Days</option>
                        </select>
                    
                    </div>
                    <div class="col-2">
                        <p class="input-section-tittle">Number of pages</p>
                        <div class="wrapper">
                            
                            <span class="minus">-</span>
                            <span class="num">1</span>
                            <span class="plus">+</span>
                        </div>
                        
                        
                    </div>
                    <div class="col-2">
                        <button class="input-btn"><a href="#">Continue</a></button>
                    </div>
            </div>
        </div>
    

    </div>
</section>