<section class="clients">
    <div class="container">
        <div class="clients-sutitttle">
            <h5>05 Testimonials</h5>
        </div>
        <div class="clients-tittle">
            <h3>What our clients say</h3>
        </div>
       




        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active text-center">
                <div class="img-circle ">
                    <img src="../../../assets/img/vek.png" alt="">
                </div>
                <div class="carousel-descr  ">
                    <p>Using BestEssayService.net was possibly the best choice of my academic career. Even though I work full-time, I managed to submit all my assignments on time owing to the broad array of services on offer. No matter what written work I needed, help was available. I would give a full ten marks.</p>

                    <p class="name">Lorna Grey</p>
                    <p class="date">20 apr 2016 at 8:23 </p>
                </div>

        
              </div>


              <div class="carousel-item text-center">
                <div class="img-circle">
                    <img src="../../../assets/img/vek.png" alt="">
                </div>
                <div class="carousel-descr ">
                    <p>Using BestEssayService.net was possibly the best choice of my academic career. Even though I work full-time, I managed to submit all my assignments on time owing to the broad array of services on offer. No matter what written work I needed, help was available. I would give a full ten marks.</p>

                    <p class="name">Lorna Grey</p>
                    <p class="date">20 apr 2016 at 8:23 </p>
                </div>
              </div>



              <div class="carousel-item text-center">
                <div class="img-circle">
                    <img src="../../../assets/img/vek.png" alt="">
                </div>
                <div class="carousel-descr ">
                    <p>Using BestEssayService.net was possibly the best choice of my academic career. Even though I work full-time, I managed to submit all my assignments on time owing to the broad array of services on offer. No matter what written work I needed, help was available. I would give a full ten marks.</p>

                    <p class="name">Lorna Grey</p>
                    <p class="date">20 apr 2016 at 8:23 </p>
                </div>
                
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="" aria-hidden="true"><img src="../../../assets/img/left copy 12.png" alt=""></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="" aria-hidden="true"><img src="../../../assets/img/right copy 12.png" alt=""></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</section>