<section class="discounts">
    <div class="container-fluid bg-discounts">
        <div class="im-test"><img src="../../../assets/img/bg-cl.png" alt=""></div>
        <div class="container">
            <div class="discounts-subtittle">
                <h5>04 Discounts</h5>
            </div>
            <div class="discounts-tittle">
                <h2>Our discount program</h2>
            </div>
            <div class="discount-descr">
                <p>By utilizing elements and principles of Material Design, we were <br> able to create a framework that incorporates </p>
            </div>
            <div class="cloud-discounts">
                <img src="../../../assets/img/clouds – копія.png" alt="">
            </div>
            <div class="cloud-one">
                <img src="../../../assets/img/Vector Smart Object.png" alt="">
            </div>
            <div class="rocket">
                <img src="../../../assets/img/rocket – копія.png" alt="">
            </div>
        </div>
        

    </div>

</section>

   


