<section class="discounts">
    <div class="container-fluid bg-discounts">
        <div class="container">
            
                <div class="discounts-subtittle">
                    <h5> 04 Discounts</h5>
                </div>
                <div class="discounts-tittle">
                    <h2>Our discount program</h2>
                </div>
                <div class="discount-descr">
                    <p>By utilizing elements and principles of Material Design, we were  <br>able to create a framework that incorporates </p>
                </div>

                <div class="discount-block">
                    <div class="borders">
                        <img src="../../../assets/img/borders.png" alt="">
                    </div>
                    
                    
                    
                        <div class="white-block">

                           
                            <div class="item">
                                <span>4% <br>off</span>
                                <p class="descr" >for more than</p>
                                <span class="blue-span">15 pages</span>
                            </div>
                            <div class="item">
                                <span>4% <br>off</span>
                                <p class="descr" >for more than</p>
                                <span class="blue-span">20 pages</span>
                            </div>
                            
                        </div>
    
                        <div class="white-block">
                            <div class="item">
                                <span>4% <br>off</span>
                                <p class="descr" >for more than</p>
                                <span class="blue-span">50 pages</span>
                            </div>
                            <div class="item">

                                <span>4% <br>off</span>
                                <p class="descr" >for more than</p>
                                <span class="blue-span">100 pages</span>
                            </div>
                            
                        </div>
                        <div class="blue-block">
                            <div class="inner-block">
                                <div class="inner-block-tittle">
                                    <h3>Try our service & <br>get huge discounts</h3>
                                </div>
                                <div class="discounts-block">
                                    <p class="get">get</p>
                                    <div class="yellow-block">
                                        <p>15% <br>off</p>
                                    </div>
                                    <p>for your first order</p>
                                    <div class="stars">
                                        <img src="../../../assets/img/stars.png" alt="">
                                    </div>
                                </div>
                                
                                
                            
                            </div>
                        </div>
                    </div>

                
                    
            </div>

            
            

    </div>
</section>