<footer class="footer">
    <div class="container-fluid bg-footer">

        <div class="container">
            <div class="footer-nav">
                <div class="row">
                    <div class="col-3">
                        <a href="#" class="footer-logo"><img src="../../../assets/img/header-logo.png" alt=""></a>
                    </div>
                    <div class="col-9">
                        <ul class="footer-links ">
                            <li class="footer-link"><a href="#"></a>Home</li>
                            <li class="footer-link"><a href="#"></a> About Us </li>
                            <li class="footer-link"><a href="#"></a> Order now  </li>
                            <li class="footer-link"><a href="#"></a>Disclaimer </li>
                            <li class="footer-link"><a href="#"></a> Blog </li>
                            <li class="footer-link"><a href="#"></a>Why Us </li>
                            <li class="footer-link"><a href="#"></a>Contacts </li>
    
                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="section-container">

            

            <div class="row">
                <div class="col-3">
                        <div class="footer-section-list">
                            <div class="footer-section-tittle">
                                <h3>Section number1</h3>
                            </div>
                            <ul class="footer-section-links">
                                <li class="footer-section-link"><a href="#">But I must explain to you how </a></li>
                                <li class="footer-section-link"><a href="#">Mistaken idea of denouncing</a></li>
                                <li class="footer-section-link"><a href="#">Praising pain was born</a></li>
                                <li class="footer-section-link"><a href="#">Account of the system</a></li>
                                <li class="footer-section-link"><a href="#">Great explorer of the truth</a></li>
                                <li class="footer-section-link"><a href="#">No one rejects, dislikes</a></li>
                                <li class="footer-section-link"><a href="#">Mistaken idea of denouncing </a></li>
                                <li class="footer-section-link"><a href="#">Praising pain was born</a></li>
                            </ul>
                        </div>
                </div>
    
                    <div class="col-3">
                        <div class="footer-section-list">
                            <div class="footer-section-tittle">
                                <h3>Section number2</h3>
                            </div>
                            <ul class="footer-section-links">
                                <li class="footer-section-link"><a href="#">But I must explain to you how </a></li>
                                <li class="footer-section-link"><a href="#">Mistaken idea of denouncing</a></li>
                                <li class="footer-section-link"><a href="#">Praising pain was born</a></li>
                                <li class="footer-section-link"><a href="#">Account of the system</a></li>
                                <li class="footer-section-link"><a href="#">Great explorer of the truth</a></li>
                                <li class="footer-section-link"><a href="#">No one rejects, dislikes</a></li>
                                <li class="footer-section-link"><a href="#">Mistaken idea of denouncing </a></li>
                                <li class="footer-section-link"><a href="#">Praising pain was born</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-3">
                        <div class="footer-section-list">
                            <div class="footer-section-tittle">
                                <h3>Section number3</h3>
                            </div>
                            <ul class="footer-section-links">
                                <li class="footer-section-link"><a href="#">But I must explain to you how </a></li>
                                <li class="footer-section-link"><a href="#">Mistaken idea of denouncing</a></li>
                                <li class="footer-section-link"><a href="#">Praising pain was born</a></li>
                                <li class="footer-section-link"><a href="#">Account of the system</a></li>
                                <li class="footer-section-link"><a href="#">Great explorer of the truth</a></li>
                                <li class="footer-section-link"><a href="#">No one rejects, dislikes</a></li>
                                <li class="footer-section-link"><a href="#">Mistaken idea of denouncing </a></li>
                                <li class="footer-section-link"><a href="#">Praising pain was born</a></li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="col-3">
                        <div class="footer-section-list">
                            <div class="footer-section-tittle">
                                <h3>Section number4</h3>
                            </div>
                            <ul class="footer-section-links">
                                <li class="footer-section-link"><a href="#">But I must explain to you how </a></li>
                                <li class="footer-section-link"><a href="#">Mistaken idea of denouncing</a></li>
                                <li class="footer-section-link"><a href="#">Praising pain was born</a></li>
                                <li class="footer-section-link"><a href="#">Account of the system</a></li>
                                <li class="footer-section-link"><a href="#">Great explorer of the truth</a></li>
                                <li class="footer-section-link"><a href="#">No one rejects, dislikes</a></li>
                                <li class="footer-section-link"><a href="#">Mistaken idea of denouncing </a></li>
                                <li class="footer-section-link"><a href="#">Praising pain was born</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
               </div>
               <div class="footer-bottom">
                <div class="row">
                    <div class="col-3">
                        <small>
                            Copyright В© 2017 BlueEssaySite.net 
                            All rights reserved.
                        </small>
                    </div>

                    <div class="col-3">
                        <div class="footer-icons">
                            <li class="footer-icon-item"><a href=""><i class="fa-brands fa-facebook-f"></i></i></a></li>
                            <li class="footer-icon-item"><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                            <li class="footer-icon-item"><a href=""><i class="fa-brands fa-pinterest"></i></a></li>
                            <li class="footer-icon-item"><a href=""><i class="fa-brands fa-google-plus-g"></i></a></li>
                        </div>

                    </div>
                    <div class="col-3">
                        <div class="contacts">
                            <div class="contacts-img">
                                <img src="../../../assets/img/pnone.png" alt="">
                            </div>
                            <div class="contacts-item">
                                <p>Toll free :</p>
                                <a href="tel:+30441112732">+ 3 044 111 2732</a>
                            </div>
                            
                                
                            
                        </div>
                        
                    </div>

                    <div class="col-3">
                        <div class="contacts">
                            <div class="contacts-img">
                                <img src="../../../assets/img/email2.png" alt="">
                            </div>
                            <div class="contacts-item">
                                <p>Email :</p>
                                <a href="mailto:blueessaysite@gmail.com">blueessaysite@gmail.com</a>
                            </div>
                            
                                
                            
                        </div>
                        
                    </div>
                    

                    
                    
                    </div>
                   



                </div>

               </div>
               
                
                </div>
            
        
        
            
        </div>

    </div>
    
</footer>


 





