<header>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="header-body">
                    <div class="col-4">
                        <div class="header-logo">
                            <a href="" class="logo"><img src="../../../assets/img/header-logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-4">

                        <div class="header-menu ">
                            <ul class="header-list ">
                                <li class="header-link"><a href="#">Services</a><b>▼</b></li>
                                <li class="header-link"><a href="#">About us</a><b>▼</b> </li>
                                <li class="header-link"><a href="#">How it works</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="header-icon">
                            <a href="" class="header-phone"><img src="../../../assets/img/phone_icon.png" alt=""></a>
                        </div>
                    </div>

                    <div class="col-3 nav-but">
                        
                        <div class="header-buttons">
                            <a href="" class="sign-in">Sign In</a>
                            <a href="" class="order">Order</a>
                            <div class="burg-icon ">
                                <a href=""><i class="fa-solid fa-bars"></i></a>
                                
                            </div>
                           
                            
                        </div>

                        
                        
                    </div>
                    
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
