<setion class="offer">
    <div class="container">
        <div class="offer-block">
            <div class="white-block">


                <div class="item">
                    <span>4% <br>off</span>
                    <p class="descr" >for more than</p>
                    <span class="blue-span">15 pages</span>
                </div>


                <div class="item">
                    <span>5% <br>off</span>
                    <p class="descr" >for more than</p>
                    <span class="blue-span">15 pages</span></div>
            </div>
    
            <div class="white-block">
                <div class="item">
                    <span>15% <br>off</span>
                    <p class="descr" >for more than</p>
                    <span class="blue-span">15 pages</span>


                </div>
                <div class="item">
                    <span>50% <br>off</span>
                    <p class="descr" >for more than</p>
                    <span class="blue-span">15 pages</span>
                </div>

                <div class="borders">
                    <img src="../../../assets/img/borders.png" alt="">
                </div>
            </div>


            <div class="blue-block">
                <div class="inner-block">
                    
                    <div class="inner-block-tittle">
                        <h3>Try our service & <br>get huge discounts</h3>
                    </div>

                    <div class="discounts-block">
                        <p class="get">get</p>
                        <div class="yellow-block">
                            <p>15% <br>off</p>
                        </div>
                        <div class="scissors">
                            <img src="../../../assets/img/scissors.png" alt="">
                        </div>
                        <p class="order">for your first order</p>
                        <div class="stars">
                            <img src="../../../assets/img/stars.png" alt="">
                        </div>
                    </div>

                    <p class="offer">
                        Use discount15 as discount code
                    </p>

                    <div class="ballon">
                        <img src="../../../assets/img/Balloon.png" alt="">
                    </div>

                    
            
                    
                </div>
                
            </div>

        </div>
        


    </div>
</setion>