<section class="steps-section">
    <div class="container">
        <div class="steps-section-subtitttle">
            <h5>03 How it works</h5>
        </div>
        <div class="steps-section-tittle">
            <h2>Our Simple 4 - Step Procedure</h2>
        </div>
        <div class="steps">
            <div class="row">
                <div class="col-3">
                    <div class="steps">
                        <div class="steps-img">
                            <img src="../../../assets/img/pencil.png" alt="">
                        </div>
                        <div class="steps-tittle">
                            <h3>Step 1</h3>
                        </div>
                        <div class="steps-descr">
                            <p>
                                Complete the short order form to buy a paper from our easy essay writing service.
                            </p>
                        </div>
                        <img class="arrow" src="../../../assets/img/arrow 1.png" alt="">
                    </div>
                    
                </div>

                <div class="col-3">
                    <div class="steps">
                        <div class="steps-img">
                            <img src="../../../assets/img/step-2.png" alt="">
                        </div>
                        <div class="steps-tittle">
                            <h3>Step 2</h3>
                        </div>
                        <div class="steps-descr ">
                            <p>
                                We allocate your order to a suitably-qualified writer with specialist knowledge in, for example, persuasive essay writing if that is what you want.
                            </p>
                        </div>
                        <img class="arrow" src="../../../assets/img/arrow 1.png" alt="">
                    </div>
                </div>

                <div class="col-3">
                    <div class="steps">
                        <div class="steps-img">
                            <img src="../../../assets/img/lupa.png" alt="">
                        </div>
                        <div class="steps-tittle">
                            <h3>Step 3</h3>
                        </div>
                        <div class="steps-descr">
                            <p class="">
                                Our Quality Assurance specialists then check the completed paper to ensure the essay writing is of the highest standard
                            </p>
                        </div>
                        <img class="arrow" src="../../../assets/img/arrow 1.png" alt="">
                    </div>
                </div>

                <div class="col-3">
                    <div class="steps">
                        <div class="steps-img">
                            <img  class="rocket-step" src="../../../assets/img/rocket-step.png" alt="">
                        </div>
                        <div class="steps-tittle">
                            <h3 class="rocket-tittle">Step 4</h3>
                        </div>
                        
                        <img src="../../../assets/img/" alt="">
                        <div class="steps-descr">
                            <p  class="rocket-par">
                                The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several free-of-charge features.
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>